:root {

  /* start colors */

  --purple : #605DEC;
  --orange : #F9896B;
  --green : #84F4C5;
  --blue : #84E8F4;
  --red : #EA5A47;
  --black: #212121;
  --gray : #5F5F5F;

  --purple-900 : #51459E;
  --purple-700 : #506F94;
  --purple-200 : #D8D2FF;
  --gray-700 : #5B5B5B;
  --gray-600 : #9698AB;
  --gray-200 : #E7E7E7;
  --white-200 : #F5F9FD;
  --blue-900 : #1BC5BD;
  --blue-300 : #C9F7F5;
  --blue-200 : #CCFAFF;

  --purple-opacity : rgba(81, 69, 158, 0.20);
  --orange-opacity : rgba(249, 137, 107, 0.27);
  --green-opacity : rgba(132, 244, 190, 0.27);

  /* end colors */

  /* start fonts-family */

  --primary : Open Sans, sans-serif;
  --secondary : Poppins, sans-serif;
  --terciary : Nunito Sans, sans-serif;

  /* end fonts-family */

  /* start font-weight */

  --regular : 400;
  --medium : 500;
  --semibold : 600;
  --bold : 700;


  /* end font-weight */
}
