.totals {
  padding: 25px 15px 10px;
  font-family: var(--primary);
}

.totalsTitle {
  font-weight: var(--regular);
  color: var(--gray-600);
}

.totalsSubTitle {
  font-weight: var(--bold);
  color: var(--purple-900);
}

.progress {
  width: 200px;
  height: 7px;
  background-color: #ECEDF1;
  border-radius: 5px;
}

.imagesTotals {
  width: auto;
  height: 15px;
}
