.labelInputColor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.labelInputColor:nth-child(1) {
  background-color: #F9896B;
}
.labelInputColor:nth-child(2) {
  background-color: #84E8F4;
}
.labelInputColor:nth-child(3) {
  background-color: #605DEC;
}
.labelInputColor:nth-child(4) {
  background-color: #EA5A47;
}

input[type="radio"]:checked + label {
  border: 2px solid black;
}

.labelInputColor input[type="radio"] {
  /* display: none; */
}
